<div class="footer" style="background-color: green;">
    <div class = "container"  >
        <div class="row">  
            <div class="col-4 p-3">
                <h6 class="mt-4"> With Our Online Note Platform <br></h6>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore natus quaerat quae quibusdam corrupti totam placeat, error blanditiis!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, maxime.</p>
            </div>
            <div class="col-4 p-3 text-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="index" style="color: black;"> Home Page <br> </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="info_page" style="color: black;">Info</a>
                    </li>
                </ul>
                
                
            </div>
            <div class="col-4 p-3">
                <p>Contact us</p>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Your Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                  </div>
                  <button class="btn btn-outline-dark d-flex align-items-center">Send</button>
            </div>
        </div>

    </div>
</div>