<div class="col-md-4">
    <div class="card shadow p-3" style="height: 250px;">
        <div class="card-body ">
            <h5 class="card-title"><%= not.notesName %> </h5>
            <p class="card-text"><%= not.desc %> </p>
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-success " style="margin-right: 20px;">Düzenle</button>
                <button class="btn btn-outline-warning" style="width: 75px;">Sil</button>
            </div>
        </div>
    </div>
</div>