<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anasayfa</title>
    <link href="css/style.css" rel="stylesheet" />
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>


    <%- include("partials/nav") %> 

    <div>
        <div class="row offset-1 p-5">
            <div class="col-md-6 col-lg-5 p-4 border rounded shadow bg-light">
                <h3 class="text-center mb-3">Not Ekle</h3>
                <form id="noteForm">
                    <!-- Not Başlığı -->
                    <div class="form-group mb-3">
                        <label for="noteTitle" class="fw-bold">Not Başlığı:</label>
                        <input type="text" class="form-control border rounded shadow-sm" id="noteTitle"
                            placeholder="Başlık giriniz..." required>
                    </div>
                    <!-- Not İçeriği -->
                    <div class="form-group mb-3">
                        <label for="noteContent" class="fw-bold">Not İçeriği:</label>
                        <textarea class="form-control border rounded shadow-sm" id="noteContent" rows="7"
                            placeholder="Notunuzu yazınız..." required></textarea>
                    </div>
                    <!-- Kaydet Butonu -->
                    <button type="submit" class="btn btn-success w-100">Kaydet</button>
                </form>
            </div>
            <div class="col-md-4">
                <h5 class="p-3 text-center">
                    Hareket halindeyken hızlı ve kolayca not almak için bu ücretsiz çevrimiçi not defterini kullanın.
                    Anlık fikirlerinizi kaydedin, düzenleyin ve dilediğiniz zaman erişin. Kullanıcı dostu arayüzü
                    sayesinde notlarınızı yazmak, saklamak ve yönetmek çok basittir. İster toplantı sırasında önemli
                    bilgileri kaydedin, ister ders çalışırken özet çıkarın, ister günlük planlarınızı oluşturun.
                    İnternet bağlantısı olan her cihazdan ulaşabileceğiniz bu not defteri, zamandan tasarruf etmenize ve
                    hiçbir fikri kaçırmamanıza yardımcı olur. Notlarınızı güvenle saklayın ve istediğiniz an erişin!
                </h5>
            </div>
        </div>

        <div class="container p-2 mt-5">
            <div class="row g-4 justify-content-center" id="notesAll">
                <% notes.forEach(not => {  %>
                    <%- include("partials/note_all", { not: not }) %> 
                    <%  })   %>
                
            </div>
        </div>

        <%- include("partials/footer") %> 
        
        

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="server.js"></script>
</body>

</html>